<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Top Navigation</title>

    <!-- FontAwesome-->
    <link rel="stylesheet" href="../../css/all.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../../plugin/bootstrap-4.3.1-dist/css/bootstrap.css">
    <!-- Style -->
    <link rel="stylesheet" href="../../style.css">


</head>

<body class="top-nav">
    <div class="page-wrap">
        <header class="main-header position-relative">
            <nav class="navbar p-0">
                <div class="container d-flex">
                    <a href="../../index.html" class="navbar-brand text-white"><b>Admin</b>LTE</a>
                    <div class="" id="navbar-header-link">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                                    data-target="dropdown-topnav">Dropdown</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                            <li class="nav-item"
                                style="display: inline-block;width:150px;background: rgba(255,255,255,0.2);">
                                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                            </li>
                        </ul>
                    </div>
                    <div class="nav-custom">
                        <ul class="nav pull-right">
                            <!-- Messages: style can be found in dropdown.less-->
                            <!-- Mailbox -->
                            <li class="nav-item position-relative">
                                <a href="" class="header-icon " data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <span class="badge badge-success">4</span>
                                    <i class="far fa-envelope"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-left message-menu list-unstyled">
                                    <li class="menu-header">You Have 4 messages</li>
                                    <li class="">
                                        <ul class="menu list-unstyled clearfix">
                                            <li>
                                                <a href="" class="d-block ">
                                                    <div class="pull-left">
                                                        <img src="img/gambarpelajar1.do.jpg" alt=""
                                                            class="message-menu-img">
                                                    </div>
                                                    <h6 class="message-menu-h6-text d-flex justify-content-between">
                                                        Support
                                                        Team
                                                        <small><i class="far fa-clock    "></i>5 mins</small>
                                                    </h6>
                                                    <p class="message-menu-p-text">Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="" class="d-block ">
                                                    <div class="pull-left">
                                                        <img src="img/gambarpelajar1.do.jpg" alt=""
                                                            class="message-menu-img">
                                                    </div>
                                                    <h6 class="message-menu-h6-text d-flex justify-content-between">
                                                        Support
                                                        Team
                                                        <small><i class="far fa-clock    "></i>5 mins</small>
                                                    </h6>
                                                    <p class="message-menu-p-text">Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="" class="d-block ">
                                                    <div class="pull-left">
                                                        <img src="img/gambarpelajar1.do.jpg" alt=""
                                                            class="message-menu-img">
                                                    </div>
                                                    <h6 class="message-menu-h6-text d-flex justify-content-between">
                                                        Support
                                                        Team
                                                        <small><i class="far fa-clock    "></i>5 mins</small>
                                                    </h6>
                                                    <p class="message-menu-p-text">Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="" class="d-block ">
                                                    <div class="pull-left">
                                                        <img src="img/gambarpelajar1.do.jpg" alt=""
                                                            class="message-menu-img">
                                                    </div>
                                                    <h6 class="message-menu-h6-text d-flex justify-content-between">
                                                        Support
                                                        Team
                                                        <small><i class="far fa-clock    "></i>5 mins</small>
                                                    </h6>
                                                    <p class="message-menu-p-text">Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="" class="d-block ">
                                                    <div class="pull-left">
                                                        <img src="img/gambarpelajar1.do.jpg" alt=""
                                                            class="message-menu-img">
                                                    </div>
                                                    <h6 class="message-menu-h6-text d-flex justify-content-between">
                                                        Support
                                                        Team
                                                        <small><i class="far fa-clock    "></i>5 mins</small>
                                                    </h6>
                                                    <p class="message-menu-p-text">Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-footer">
                                        <a href="#">See all Message</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- Notifications: style can be found in dropdown.less -->
                            <!-- BEll -->
                            <li class="nav-item position-relative">
                                <a href="" class="header-icon " data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <span class="badge badge-warning">10</span>
                                    <i class="far fa-bell"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-left noti-menu list-unstyled">
                                    <li class="menu-header">
                                        <p class="m-0">You have 10 notifications</p>
                                    </li>
                                    <li>
                                        <ul class="menu list-unstyled">
                                            <li class="noti-border"><a href=""><span class="mr-1"><i
                                                            class="fa fa-users text-primary"></i></span>5 new members
                                                    join
                                                    today</a></li>
                                            <li class="noti-border"><a href=""><span class="mr-1"><i
                                                            class="fa fa-exclamation-triangle text-warning"></i></span>Very
                                                    long
                                                    description here that may not fit into the
                                                    page and may cause design problems
                                                </a>
                                            </li>
                                            <li class="noti-border"><a href=""><span class="mr-1"><i
                                                            class="fa fa-users text-danger"></i></span>5 new members
                                                    joined</a>
                                            </li>
                                            <li class="noti-border"><a href=""><span class="mr-1"><i
                                                            class="fa fa-shopping-cart text-success"></i></span>25 sales
                                                    made</a></li>
                                            <li class="noti-border"><a href=""><span class="mr-2"><i
                                                            class="fas fa-user text-danger"></i></span>You changed your
                                                    username</a></li>
                                            <li class="noti-border"><a href=""><span class="mr-2"><i
                                                            class="fa fa-shopping-cart text-success"></i></span>30 sales
                                                    made</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-footer"><a href="">View All</a></li>
                                </ul>
                            </li>
                            <!-- Tasks: style can be found in dropdown.less -->
                            <li class="nav-item position-relative">
                                <a href="" class="header-icon " data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <span class="badge badge-danger">9</span>
                                    <i class="far fa-flag"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-left task-menu list-unstyled">
                                    <li class="menu-header">You have 9 tasks</li>
                                    <li>
                                        <ul class="menu list-unstyled">
                                            <li>
                                                <a href="#">
                                                    <span>Design some buttons <small>20%</small></span>
                                                    <div class="progress xs">
                                                        <div class="progress-bar bg-info" style="width: 20%;"
                                                            aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <span>Create a nice theme <small>40%</small></span>
                                                    <div class="progress xs">
                                                        <div class="progress-bar bg-success" style="width: 40%"
                                                            aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <span>Some task i need to do <small>60%</small></span>
                                                    <div class="progress xs">
                                                        <div class="progress-bar bg-danger" style="width: 60%"
                                                            aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <span>Make beautiful transitions <small>80%</small></span>
                                                    <div class="progress xs">
                                                        <div class="progress-bar bg-warning" style="width: 80%"
                                                            aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-footer"><a href="">View all tasks</a></li>
                                </ul>
                            </li>
                            <!-- User Account: style can be found in dropdown.less -->
                            <li class="nav-item position-relative">
                                <a href="" class="user-tag" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <img src="img/gambarpelajar1.do.jpg" class="img-user-body" alt="">
                                    <span class="">Shahrul Alif</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-left user-tag-menu list-unstyled">
                                    <li class="user-tag-header">
                                        <img src="img/gambarpelajar1.do.jpg" class="user-tag-menu-img" alt="">
                                        <p class="m-0">Shahrul Alif - Web Developer</p>
                                        <small class="">Member since Nov.2012</small>
                                    </li>
                                    <li class="user-tag-body">
                                        <div class="row w-100 m-0 p-3">
                                            <div class="col-sm-4 text-center"><a href="">Followers</a></div>
                                            <div class="col-sm-4 text-center"><a href="">Sales</a></div>
                                            <div class="col-sm-4 text-center"><a href="">Friends</a></div>
                                        </div>
                                    </li>
                                    <li class="user-tag-footer">
                                        <div class="d-flex justify-content-between p-2">
                                            <button class="btn btn-light border">Profile</button>
                                            <button class="btn btn-light border">Sign out</button>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item position-relative">
                                <a href="" class="header-icon" data-toggle="collapse" id="navbar-toggler"
                                    data-target="#navbar-link"><span><i class="fa fa-bars"
                                            aria-hidden="true"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="collapse" id="navbar-link">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Dropdown
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
        </header>

        <div class="top-nav-wrapper">
            <!---->
            <div class="content">
                <div class="container">
                    <!--Content Body -->
                    <div class="content-header">
                        <div class="row">
                            <div class="col-lg-6 header-position">
                                <span class="d-inline-block">
                                    <h5 class="d-inline-block">Top Navigation</h5> <small
                                        class="text-muted d-inline-block">Example 2.0</small>
                                </span>
                            </div>
                            <div class="col-lg-6 breadcrumb-position">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <span><i class="fas fa-tachometer-alt pr-2"></i></span>
                                        <a href="../../index.html" class="text-decoration-none text-dark">Home</a>
                                    </li>
                                    <li class="breadcrumb-item">Layout</li>
                                    <li class="breadcrumb-item text-muted">Top Navigation</li>
                                </ol>
                            </div>
                        </div>

                    </div>
                    <!---->
                </div>

                <!-- Footer -->
                <footer id="footer">
                    <span id="left-text">Copyright<span>&copy;</span> 2014-2019 <a href="" class="text-primary">AdminLTE
                            Duplicated</a></span>. <span id="copyright-text">All rights reserved.</span>
                    <span class="pull-right" id="right-text"><b>Version</b> 2.4.13</span>
                </footer>
                <!---->
            </div>
        </div>
    </div>


    <!-- Jquery 3.3.1 -->
    <script src="../../js/jquery-3.3.1.js"></script>
    <!-- PopperJS -->
    <script src="../../plugin/popper-core-master/src/popper.js"></script>
    <!-- Bootstrap  -->
    <script src="../../plugin/bootstrap-4.3.1-dist/js/bootstrap.js"></script>
    <!-- Sidebar Interaction -->
    <script src="../../sidebar&header.js"></script>
    <!-- Script -->

</body>

</html>